@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  background: radial-gradient(#ffffff33 1px, #00091d 1px);
  background-size: 20px 20px;
  z-index: -1;
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
}
