@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  background: radial-gradient(#ffffff33 1px, #00091d 1px);
  z-index: -2;
  pointer-events: none;
  animation: dotsMove 20s alternate infinite;
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

@keyframes dotsMove {
  0% {
    background-size: 20px 20px;
  }
  100% {
    background-size: 40px 40px;
  }
}

